@CHARSET "UTF-8";

/* CSS loginPage */
#mainLoginDiv {
	width: 300px;
	height: 400px;
	padding-top: 20%;
	/* border: 1px black solid; */
	margin-left: 20%;
}

.laberFormDiv {
	float: left;
	width: 70px;
}

.form-control {
	width: 150px;
}

#buttonLogin {
	float: right;
	margin-right: 74px;
	margin-top: 10px;
}